<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">{{recordingId}} [Editing]</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="#!/">Home</a></li>
                <li><a ng-href="#!/viewer/{{recordingId}}">View</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="saveChanges()">Save Changes</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="window-parent">
    <div class="window-header">
        <span>About this Tutorial</span>
    </div>
    <div class="window-container">
        <div class="container-fluid">
            <div class="col-xs-3 col-sm-3 col-md-6 col-lg-3">
                <h5>Project Root</h5>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-6 col-lg-9">
                <input type="text" class="form-control monospace-input" ng-model="eventLog.projectroot">
            </div>
        </div>

        <div class="container-fluid">
            <h4>Tutorial Introduction</h4>
            <textarea type="text" class="form-control monospace-input" ng-model="eventLog.introduction" rows="10"></textarea>
        </div>
    </div>
</div>

<div ng-repeat="appWindow in eventLog.windows">
    <app-window 
        global-disabled-path="globalDisabledPath"
        window="appWindow" 
        editable="true" 
        runnable="false" 
        disable-path-callback="disablePathCallback(path)"></app-window>
</div>