.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.monospace-input{
    font-family: monospace;
}

.jstree-default .jstree-disabled{
    text-decoration: line-through;
    font-weight: lighter;
}

.color_green {
    color: green;
}

.color_red {
    color: red;
}

.color_blue {
    color: blue;
}

.rzslider{
    margin-bottom: 40px;
    margin-top: 0px;
}

.rzslider .rz-pointer{
    background-color: #999;
}

.rzslider .rz-bubble{
    display: none;
}

.rzslider .rz-tick-legend{
    font-weight: bold;
}

.white-box{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background: #F9F9F9;
    margin-top: -10px;
}

.rzslider .rz-pointer.rz-active:after {
    background-color: #777;
}

.rzslider .rz-tick{
    background: #777;
}

.header-btn{
    margin-right: 5px;
}

.rzslider .rz-bar{
    background: #ccc;
}

.navbar-brand{
    cursor:pointer;
}

.grey-text{
    color: #888
}

.command-box{
    background: #ddd;
    border: #000;
    border-radius: 5px;
    margin-bottom: 30px;
}

.validation-script textarea{
    margin: 2%;
    width: 96%;
    max-width: 96%;
    min-width: 96%;
    font-weight: normal;
}

.fstree-header{
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fstree-box{
    margin: 10px;
    background: #ccc;
    border-radius: 5px;
}

.fstree-box .fstree{
    margin: 30px;
}

.window-clip{
    width: 90%;
}

.full-textarea{
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.window-header{
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    background: white;
    font-size: 25px;
}

.window-container{
    background: #efefef;
    padding: 30px;
}

.window-parent{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.strikethrough{
    text-decoration: line-through;
}

.monospace-font{
    font-family: monospace;
}

.command-container{
    border: 1px solid #ccc;
    border-radius: 5px;
}

.command-header{
    padding: 10px;
    padding-bottom: 14px;
    background: white;
    border-radius: 5px;
}

.header{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
}

a[ng-click]{
    cursor: pointer;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
    margin-top: 25px;
}
.row {
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (min-width: 768px) {

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        margin-bottom: 30px;
    }
    
    .jumbotron {
        border-bottom: 0;
    }
}
