<div class="window-parent">
        <div class="window-header">
            <span ng-class="{strikethrough: !window.visible}">{{window.app}}</span>
            <button 
                ng-show="window.visible"
                class="btn btn-danger btn-sm pull-right"
                ng-click="window.visible = false">Hide</button>
            <button 
                ng-hide="window.visible"
                class="btn btn-success btn-sm pull-right"
                ng-click="window.visible = true">Show</button>
        </div>
        <div class="window-container" ng-show="window.visible">
            <div class="container-fluid">
                <div class="row row-eq-height">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <center>
                            <video class="window-clip" controls ng-src="{{fileServerUrl + recordingId + '/' + window.screencast}}">
                            </video>
                        </center>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <textarea 
                            class="form-control full-textarea" 
                            placeholder="Caption"></textarea>
                    </div>
                </div>
            </div>

            <div ng-if="window.commands && window.commands.length > 0">
                <h4 >Commands</h4>
                <div ng-repeat="command in window.commands">
                    <terminal-command command="command"></terminal-command>
                </div>
            </div>
        </div>
    </div>