<div 
    class="command-box"
    ng-if="editable || command.visibility !== 'hide'">
    <div class="container-fluid command-container">
        <div class="row">
            <div class="command-header">
                <span 
                    class="monospace-font"
                    ng-class="{strikethrough: command.visibility === 'hide'}">
                    <span class="grey-text">$USER</span>
                    <span class="grey-text">@</span>
                    <span class="grey-text">$HOME</span>
                    <span>
                    {{command.pwd.replace('/Users/alokmysore', '')}}$ 
                    </span>
                    <strong>
                        {{command.cmd}}
                    <strong>
                </span>

                <div ng-if="editable" class="btn-group btn-group-xs pull-right">
                    <label class="btn btn-success btn-radio">
                        <input
                            value="show" 
                            type="radio" 
                            ng-model="command.visibility"> Show</input>
                    </label>
                    <label class="btn btn-warning btn-radio">
                        <input
                            value="collapse" 
                            type="radio" 
                            ng-model="command.visibility"> Collapse</input>
                    </label>
                    <label class="btn btn-danger btn-radio">
                        <input
                            value="hide" 
                            type="radio" 
                            ng-model="command.visibility"> Hide</input>
                    </label>
                </div>

                <div class="btn-group btn-group-xs pull-right">
                    <button 
                        ng-if="!editable"
                        class="btn btn-default" 
                        title="Copy to Clipboard" 
                        ngclipboard 
                        data-clipboard-text="{{command.cmd}}">
                        <span class="glyphicon glyphicon-copy"></span>
                    </button>

                    <button
                        ng-if="!editable && command.visibility === 'collapse'"
                        class="btn btn-success"
                        ng-click="command.visibility = 'show'">Show</button>

                    <button 
                        ng-if="!editable && command.visibility === 'show'"
                        class="btn btn-warning"
                        ng-click="command.visibility = 'collapse'">Collapse</button>

                    <button 
                        ng-if="!editable"
                        class="btn btn-primary"
                        ng-click="validate()">Validate</button>
                </div>

            </div>
        </div>
        <div ng-show="command.visibility === 'show'">
            <div class="row row-eq-height">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <center>
                        <screencast screencast="command.screencast"></screencast>
                    </center>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <textarea 
                            ng-readonly="!editable"
                            ng-model="command.summary"
                            class="form-control full-textarea" 
                            placeholder="{{editable? 'Summary': ''}}"></textarea>
                </div>
            </div>

            <div class="validation-script row fstree-box" ng-if="editable">
                <div class="fstree-header">Validation Script</div>
                <textarea 
                    class="monospace-input form-control full-textarea"
                    ng-model="command.validationScript"
                    rows="10"></textarea>        
            </div>

            <file-tree 
                editable="{{editable}}" 
                collapsed-directories="command.collapsedDirectories" 
                files="command.files"></file-tree>
        </div>
    </div>
</div>