<div 
    class="command-box"
    ng-if="editable || command.visibility !== 'hide'">
    <div class="container-fluid command-container">
        <div class="row">
            <div class="command-header">
                <span 
                    class="monospace-font"
                    ng-class="{strikethrough: command.visibility === 'hide'}">
                    <span class="grey-text">$USER</span>
                    <span class="grey-text">@</span>
                    <span class="grey-text">$HOME</span>
                    <span>
                    {{command.pwd.replace('/Users/alokmysore', '')}}$ 
                    </span>
                    <strong>
                        {{command.cmd}}
                    <strong>
                </span>

                <div ng-if="editable" class="btn-group btn-group-xs pull-right">
                    <label class="btn btn-success btn-radio">
                        <input
                            value="show" 
                            type="radio" 
                            ng-model="command.visibility"> Show</input>
                    </label>
                    <label class="btn btn-warning btn-radio">
                        <input
                            value="collapse" 
                            type="radio" 
                            ng-model="command.visibility"> Collapse</input>
                    </label>
                    <label class="btn btn-danger btn-radio">
                        <input
                            value="hide" 
                            type="radio" 
                            ng-model="command.visibility"> Hide</input>
                    </label>
                </div>

                <button
                    ng-if="!editable && command.visibility === 'collapse'"
                    class="btn btn-success btn-xs pull-right"
                    ng-click="command.visibility = 'show'">Show</button>

                <button 
                    ng-if="!editable && command.visibility === 'show'"
                    class="btn btn-warning btn-xs pull-right"
                    ng-click="command.visibility = 'collapse'">Collapse</button>

            </div>
        </div>
        <div ng-show="command.visibility === 'show'">
            <div class="row row-eq-height">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <center>
                        <video class="window-clip" controls ng-src="{{fileServerUrl + recordingId + '/' + window.screencast}}">
                        </video>
                    </center>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <textarea 
                            ng-readonly="!editable"
                            ng-model="window.summary"
                            class="form-control full-textarea" 
                            placeholder="{{editable? 'Summary': ''}}"></textarea>
                </div>
            </div>
            <file-tree editable="{{editable}}" tree="command.filestructure"></file-tree>
        </div>
    </div>
</div>