<div class="command-box"    >
    <div class="container-fluid command-container">
        <div class="row">
            <div class="command-header">
                <span 
                    class="monospace-font"
                    ng-class="{strikethrough: !command.visible}">
                    <span class="grey-text">$USER</span>
                    <span class="grey-text">@</span>
                    <span class="grey-text">$HOME</span>
                    <span>
                    {{command.pwd.replace('/Users/alokmysore', '')}}$ 
                    </span>
                    <strong>
                        {{command.cmd}}
                    <strong>
                </span>
                <button 
                    ng-show="command.visible" 
                    class="btn btn-danger btn-xs pull-right"
                    ng-click="command.visible = false">Hide</button>
                <button 
                    ng-hide="command.visible"
                    class="btn btn-success btn-xs pull-right"
                    ng-click="command.visible = true">Show</button>
            </div>
        </div>
        <div ng-show="command.visible">
            <div class="row row-eq-height">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <center>
                        <video class="window-clip" controls ng-src="{{fileApiUrl + recordingId + '/' + window.screencast}}">
                        </video>
                    </center>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <textarea 
                            class="form-control full-textarea" 
                            placeholder="Caption"></textarea>
                </div>
            </div>
            <file-tree tree="command.filestructure"></file-tree>
        </div>
    </div>
</div>